body {
    margin: 0;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

.bgiClass {
    background-image: url("/public/beautiful-wallpaper-1920x1080.jpg");
    background-color: transparent;
    height: 100vh;
}

.bgiClass:hover {
    opacity: 0.9;
}